<div class="container">
  <div>
    <button (click)="runObs1()">observer1</button>
    <button (click)="runObs2()">observer2</button>
    <button (click)="concatObs1Obs2()">concat(observer1, observer2)</button>
    <button (click)="mergeObs1Obs2()">merge(observer1, observer2)</button>
    <button (click)="concatMapObs1Obs2()">concatMap</button>
    <button (click)="mergeMapObs1Obs2()">mergeMap</button>
    <button (click)="switchMapObs1Obs2()">switchMap</button>
  </div>
  <textarea
    readonly
    [ngModel]="screenConsoleText"
    rows="30"
    cols="80"
  ></textarea>
</div>
