
<div class="component">
  <div><input type="checkbox" name="selected" id="selected" (change)="onChange($event)"></div>
  <div>
    First name: {{person.firstName}}
  </div>
  <div>
    Last name: {{person.lastName}}
  </div>
</div>
