<div class="component">
  <div *ngIf="person">
    <div>{{person.firstName}} {{person.lastName}}</div>
    <a [routerLink]="['/person/list']" routerLinkActive="router-link-active">Back</a>
  </div>
</div>