<div class="component">
<div>Selected: {{numSelected}}</div>
<ul>
  <li *ngFor="let person of persons">
    <app-person [person]="person" (selectionChangedEvent)="childSelectionChanged($event)"></app-person>
  </li>
</ul>
</div>


