<div class="component">
  <h2>Person</h2>
  <form>
    <input type="text" name="first" id="first" [(ngModel)]="person.firstName">
    <input type="text" name="last" id="last" [(ngModel)]="person.lastName">
  </form>
</div>