<div class="component">
  <ul>
    <li *ngFor="let person of persons">{{person.firstName}} {{person.lastName}}
      <a [routerLink]="['/person/view', person.id]" routerLinkActive="router-link-active">Open</a>
    </li>
  </ul>
</div>