<div class="component">
  <table>
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td (click)="selectPerson(person)">{{person.firstName}}</td>
        <td (click)="selectPerson(person)">{{person.lastName}}</td>
      </tr>
    </tbody>
  </table>

  <app-person [person]="selected"></app-person>
</div>